<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Site Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Анализатор сайтов</h1>
        <form method="POST">
            <label for="url">Введите URL сайта:</label>
            <input type="text" id="url" name="url" required>


            <div>
                <input type="checkbox" id="nmap" name="nmap">
                <label for="nmap">Сканирование по Nmap</label>
            </div>
            <button type="submit">Анализировать</button>
        </form>
    </div>
</body>
</html>
